/* -------------------- Responsive for Large than 575px screen Media Queries Start -------------------- */
@media (min-width: 575px) {
    .container{
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }
}
/* -------------------- Responsive for Large than 575px screen Media Queries End -------------------- */